body {
    display: block;
    margin: 0px;
    display: flex;
    flex-direction: row;
    
}

.menubar {
    background-color: skyblue;
    width: 20%;
    /*align-items: center;
    overflow: visible;
    float: left;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;*/

}
.myname {
    font-weight: 600;
    font-size: 35px;    
    margin: 3% 3% 3% 3%;
    position: fixed;
    letter-spacing: 0.32em;

}

#me {
    width: 250px;
    height:250px;
    position: fixed;
    margin-top: 10%;
    margin-left: 1.6%;

    border-radius: 30%;
}
.menu {
    list-style-type: none;
    padding-left: 0%;
    margin-top: 30%;
    margin-left: 80px;
    position: fixed;
    height: 100%;
    font-size: 30px;
}
.menu li a:hover {
    /* text-decoration-line:underline; */
    color: darkblue;
    font-weight: bold;
    font-size: 35px;
}
.menu li a:visited{
   color: black;
}
ul {
    text-align: center;
}
li {
    margin-bottom: 15px;
}
#section {
    width: 80%;  
    
}

.icon {
    font-size: 55px;
    display: flex;
    flex-direction: row;
    margin: 0% 4% 0% 0%;
  }


#intro{
    margin: 50px;
}
#intro_title{
    margin-top: 10px;
    font-weight: bold;
}
#intro_text{
    font-size: 18px;
    color: darkslategray;
    margin-top: 8px;
   
}
.interest {
    margin: 50px;
}

.tech_badges {
    margin-top: 30px;
}
.badge_html {
    width: 90px;
    height: 30px;
  }
.badge_css {
    width: 80px;
    height: 30px;
  }

.badge_javascript {
    width: 140px;
    height: 30px;
}
.badge_python {
    width: 100px;
    height: 30px;
}
.badge_django {
    width: 100px;
    height: 30px;
}
.badge_android {
    width: 160px;
    height: 30px;
}
.top {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    margin: 50px;
   
    
}

#intro_rows {
    width: 33%;
    display: flex;
    flex-direction: row;
    
}
.intro_content{
    display: flex;
    flex-direction: column;
}
.bottom {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    margin: 50px;
    
}
.education {
    margin: 50px;
}
.edu_info {
    overflow: hidden;
}
#title-text {
    font-size: 20px;
    font-weight: bold;
    color: #282828;
    float: left;
   
  }
#year-text {
    font-size: 20px;
    font-weight: bold;
    color: #282828;
    float: right;  
      
}
#desc-text {
    font-size: 15px;
    padding-left: 15px;
    margin-top: 0px;
}
.activities {
    margin: 50px;
}
.activity_info {
    overflow: hidden;
}
#likelion_img {
    width: 300px;
    height: 200px;
}
#project {
    margin: 50px;
}
.project_info {
    overflow: hidden;
}
#project_text {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
#contact {
    margin: 50px;
}
#contact_logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.contact_info {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 50px;
}
a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
   
}
.contact_info #intro_rows a:visited {
    color: black;
}